// Tab headers
.tabs{
    list-style:none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 0;

    @include push--auto;

    @media(max-width: $breakpoint-sm){
        flex-direction: column;
        text-align: center;
    }
}
.tab-link{
    font-family: $font-family-p;
    text-decoration: underline;

    &:hover{
        cursor: pointer;
    }

    @media(max-width: $breakpoint-sm){
        margin-bottom: 20px;
    }
}

//tabs
  .tab-content{
    display:none;
    opacity: 0;
    transition: $transition;
  }

  .tab-content.current{
    display: inherit;
    width:100%;
    opacity: 1;
    transition: $transition;

    @include push--auto;
}

.menu-section{
    height: auto;
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu-item{
    height:auto;
    width: 45%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media(max-width:$breakpoint-sm){
        width: 100%;
    }
}

.menu-title{
    height:50px;
    width:100%;
    margin-bottom: 20px;
}

.menu-item_name{
    width: auto;
    text-align: left;
}
.menu-item_price{
    width: auto;
    text-align: right;
}
.menu-item_description{
width:100%;
height:auto;
font-style: italic;
border-top:1px solid $color-main;

p{font-size: calculateRem(12);}
}