.events{
    height: auto;
    width: 100%;
    position: relative;
    // background-image: linear-gradient(45deg, #726193 20%, #e37b7c 60%, #ffe4b4);
    
    
}
#events_header{
    background:url('../images/image-1.jpg') no-repeat center;
    background-size: cover;
}